%header
  %h1
    = @program.title.titleize
    %a{href: '#'} 7 day
    traction graph

%section#traction-graph

%hr

%section
  %header
    %h2
      %a{href: '#'} Weekly
      metrics
      %span.badge= @metrics.length

  %section.row.kpis
    = render partial: 'shared/panel', collection: @metrics
    = render partial: 'metrics/new'

= render partial: 'projects/modal'
