%section.traction-graph
  %header
    %h1= @program.title.titleize

  .row
    .col-md-8
      %header
        %h3 Traction graph


      %section.panel.panel-default
        .panel-heading
          #focus-metric
            = render partial: 'focus_metric'
        .panel-body
          %section#traction-graph{'data-focus-data' => @program.focus_data}

    .col-md-4
      = render partial: 'projects/side_panel'

%hr

%section
  %header
    %h2
      .dropdown.title
        %a{href: '#', 'data-toggle' => 'dropdown', id: 'dropdown-title'} Daily
        %ul.dropdown-menu
          %li
            %a{href: '#', 'data-days' => 1, class: 'time-selecter'} Daily
          %li
            %a{href: '#', 'data-days' => 7, class: 'time-selecter'} Weekly
          %li
            %a{href: '#', 'data-days' => 30, class: 'time-selecter'} Monthly
      metrics
      %span.badge= @metrics.length

  %section.row#metrics
    = render partial: 'shared/panel', collection: @metrics
    = render partial: 'metrics/new'

= render partial: 'projects/modal'
