%section.traction-graph
  %header
    %h1
      = @program.title.titleize
      %a{href: '#'} 7 day
      traction graph

  .focus-metric
    %b Focus metric:&nbsp;
    .dropdown.metric
      %a{href: '#', 'data-toggle' => 'dropdown'} Current metric
      %ul.dropdown-menu
        - @metrics.each do |metric|
          %li
            %a{href: '#', class: 'metric-selector', 'data-metricId' => metric.id, 'data-programId' => params[:id]}= metric.title

  %section#traction-graph

%hr

%section
  %header
    %h2
      .dropdown.title
        %a{href: '#', 'data-toggle' => 'dropdown', id: 'dropdown-title'} Daily
        %ul.dropdown-menu
          %li
            %a{href: '#', 'data-days' => 1, class: 'time-selecter'} Daily
          %li
            %a{href: '#', 'data-days' => 7, class: 'time-selecter'} Weekly
          %li
            %a{href: '#', 'data-days' => 30, class: 'time-selecter'} Monthly
      metrics
      %span.badge= @metrics.length

  %section.row.kpis
    = render partial: 'shared/panel', collection: @metrics
    = render partial: 'metrics/new'

= render partial: 'projects/modal'
