- @metrics = @program.metrics

%section#show-program

  %section.traction-graph.row

    %header
      %h1= "#{@program.title.titleize}"

    .panel.panel-default

      .panel-body

        .col-xs-8
          .program-team
            %b Program team
            .names
              = current_user.name
              %a{href: '#', 'data-toggle' => 'modal', 'data-target' => '#teamMemberInviteModal'} Invite new
              = render partial: 'team/member_invite_modal'

        .col-xs-4#date-range{'data-enabled-dates' => @program.focus_data_dates}
          %b Date range
          .form-group.col-xs-5
            .input-group
              %input{type: 'text', class: 'form-control', value: @program.from_date, id: 'from-date'}
          .col-xs-1
            .break-date= "-"
          .form-group.col-xs-5
            .input-group
              %input{type: 'text', class: 'form-control', value: @program.to_date, id: 'to-date'}

    .row
      .col-xs-8
        %header
          %h3 Traction graph

        %section.panel.panel-default
          .panel-heading
            #focus-metric
              = render partial: 'focus_metric'
          .panel-body
            %section#traction-graph{'data-focus-data' => @program.focus_data}

      .col-sm-4= render partial: 'projects/side_panel'

  %hr

  %section
    %header
      %h2
        Metrics
        %span.badge= @metrics.length

    %section.row#metrics
      = render partial: 'shared/panel', collection: @metrics
      = render partial: 'metrics/new'

  = render partial: 'projects/modal'
