- @metrics = @program.metrics

%section#show-program

  %section.traction-graph
    %header.row
      .col-xs-8
        %h1= @program.title.titleize

      .col-xs-4#date-range{'data-enabled-dates' => @program.focus_data_dates}
        .form-group.col-xs-5
          .input-group
            %input{type: 'text', class: 'form-control', value: @from_date, id: 'from-date'}
        .col-xs-1
          .break-date= "-"
        .form-group.col-xs-5
          .input-group
            %input{type: 'text', class: 'form-control', value: @to_date, id: 'to-date'}

    .row
      .col-xs-8
        %header
          %h3 Traction graph


        %section.panel.panel-default
          .panel-heading
            #focus-metric
              = render partial: 'focus_metric'
          .panel-body
            %section#traction-graph{'data-focus-data' => @program.focus_data}

      .col-sm-4
        = render partial: 'projects/side_panel'

  %hr

  %section
    %header
      %h2
        .dropdown.title
          %a{'data-toggle' => 'dropdown', id: 'dropdown-title'} Daily
          %ul.dropdown-menu
            %li
              %a{'data-days' => 1, class: 'time-selecter'} Daily
            %li
              %a{'data-days' => 7, class: 'time-selecter'} Weekly
            %li
              %a{'data-days' => 30, class: 'time-selecter'} Monthly
        metrics
        %span.badge= @metrics.length

    %section.row#metrics
      = render partial: 'shared/panel', collection: @metrics
      = render partial: 'metrics/new'

  = render partial: 'projects/modal'
