- @name = panel.class.name.downcase

%article.col-sm-4.stat-summary{id: "#{panel.title.downcase.gsub(' ', '-')}-#{panel.id}"}
  .panel.panel-default
    %header.panel-heading
      %h3.panel-title= panel.title
      .pull-right.dropdown.settings
        %span{class: 'glyphicon glyphicon-cog', 'aria-hidden' => true, 'data-toggle' => 'modal', 'data-target' => "#settingsModal#{panel.id}"}

    .panel-body
      .col-xs-7
        %p{'data-metrics' => "#{panel.data}", class: 'stat'} NA
      .col-xs-5
        %small
          .change.positive
            NA
          %span.details change
    .panel-footer
      = render partial: "#{@name}s/panel_footer", locals: {item: panel}

.modal.fade{id: "settingsModal#{panel.id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title= "#{panel.title} settings"
      .modal-body
        = render partial: "#{@name}s/settings_form", locals: {item: panel}

      .modal-footer
        - if @name == 'program'
          = link_to "Delete #{@name} permanantly", send("#{@name}_path".to_sym, id: panel.id, program_id: @program.id),
            method: :delete, remote: true, data: { confirm: "Are you sure you want to permanantly delete all data for this #{@name}?" }, class: 'btn btn-danger pull-left'
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} Close
