.panel-body
  .list-group.projects-focus
    - @projects.each do |project|
      %a.list-group-item{'aria-hidden' => true, 'data-toggle' => 'modal', 'data-target' => "#projectModal#{project.id}"}= project.title
      = render partial: 'projects/modal_form', locals: {project: project}

  .new-project.projects-focus.off
    = simple_form_for :project, url: projects_path, remote: true do |f|
      = f.input :title, class: 'form-control', placeholder: 'New project title'
      = f.input :tags, collection: @program.metric_title_syms, as: :check_boxes
      = f.hidden_field :program_id, value: @program.id
      = f.button :submit, 'Create project', class: 'btn btn-default'

.panel-footer
  .projects-focus.off
    %button.btn.btn-default.change-projects-view View projects
  .projects-focus
    %button.btn.btn-default.change-projects-view New project
