.modal.fade.projectModal{id: "projectModal#{project.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title= project.title

      .modal-body
        = simple_form_for project, remote: true do |f|
          = f.text_field :title, class: 'form-control'
          .radio-buttons
            %label Live?
            = f.collection_radio_buttons :live, [[true, "Yes"], [false, "No"]],
              :first, :last, class: 'form-control', selected: project.live
          = f.hidden_field :program_id, value: @program.id
          = f.submit 'Update', class: 'btn btn-default form-control'

      .modal-footer
        = link_to "Delete #{project.title}", send(:project_path, project.id, program_id: @program.id), method: :delete,
          class: 'btn btn-danger', remote: true, data: {confirm: 'Are you sure?'}
        -# = link_to "Delete #{@name} permanantly", send("#{@name}_path".to_sym, id: @item.id, program_id: @program.id),
        -#   method: :delete, remote: true, data: { confirm: "Are you sure you want to permanantly delete all data for this #{@name}?" }, class: 'btn btn-danger pull-left'
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} Close
