%header
  %h3 Projects

%section.panel.panel-default.panel-projects
  .panel-heading
    %span.filter
      %b Filter:
      .dropdown.dropdown-projects
        %a{class: 'dropdown-toggle', id: 'dropdown-project-live', 'data-toggle' => 'dropdown'}= @status_filter
        %ul{class: 'dropdown-menu', id: 'dropdown-menu-status', 'aria-labelledby' => 'dropdown-project-live'}
          = render partial: 'projects/dropdown_menu_status'
      status, for
      .dropdown.dropdown-projects
        %a{class: 'dropdown-toggle', id: 'dropdown-project-metric', 'data-toggle' => 'dropdown'}= @metric_filter
        %ul{class: 'dropdown-menu', id: 'dropdown-menu-projects', 'aria-labelledby' => 'dropdown-project-metric'}
          = render partial: 'projects/dropdown_menu_projects'
      metrics

  #projects
    = render partial: 'projects/index'
