%header
  %h1= "#{@project.title.titleize} traction graph"

%section#traction-graph

%hr

%section
  %header
    %h2 KPIs

  %section.row.kpis
    = render partial: 'shared/panel', locals: { title: 'Sign up', stat: '2%', change: '0.5%' }
    = render partial: 'shared/panel', locals: { title: 'CLV', stat: '4%', change: '-2.3%' }
    = render partial: 'shared/panel', locals: { title: 'Newsletter', stat: '3%', change: '0%' }

%hr

= render partial: 'shared/modal'
