.modal.fade#teamMemberInviteModal
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title Invite a new team member
      .modal-body
        = simple_form_for :program_team, url: program_teams_path, remote: true do |f|
          = f.input :email, class: 'form-control', placeholder: 'team_member@email.com'
          = f.hidden_field :program_id, value: @program.id
          = f.hidden_field :from_id, value: current_user.id
          = f.button :submit, 'Invite team member', class: 'btn btn-default'
      .modal-footer
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} Close
